<footer class="footerGroup bg-gray  flex-shrink-0">
    <div class="container footerTop pt-3 pb-4 px-0">
        <div class="row">
            <div class="col-8 col-md-7 footerMenu">
                <ul class="pl-4">
                    <li class="mb-2"><a href="#">Acerca de nosotros</a></li>
                    <li class="mb-2"><a href="#">Descarga tu poliza</a></li>
                    <li class="mb-2"><a href="#">Términos y condiciones</a></li>
                </ul>
            </div>
            <div class="col-4 col-md-5 footerRrss text-center">
                <p class="pt-0 mb-1">Síguenos en nuestras redes sociales</p>
                <a href="#"> <img src="assets/img/icon_facebook.svg" alt="Facebook" width="24" height="auto"></a>
                <a href="#"> <img src="assets/img/icon_youtube.svg" alt="Youtube" width="24" height="auto"></a>
                <a href="#"> <img src="assets/img/icon_instagram.svg" alt="Instagram" width="24" height="auto"></a>
            </div>
        </div>
    </div>
    <div class="footerBottom text-center py-2">
        Copyright 2020
    </div>
</footer>