<header id="primary" class="navigation-wrap bg-gray2 start-header start-style">
    <div class="container">
        <div class="row">
            <div class="col-12 p-0">
                <nav class="navbar navbar-expand-md navbar-light">

                    <a class="navbar-brand pb-3" href="#" target="_blank"><img src="assets/img/logo.svg" alt="logo"></a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto py-4 py-md-0">
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Acerca de nosotros</a>
                                <div class="dropdown-menu pt-3">
                                    <a class="dropdown-item" href="#">Misión</a>
                                    <a class="dropdown-item" href="#">Visión</a>
                                </div>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="#">Descarga tu poliza</a>
                            </li>
                            <li class="nav-item pl-4 pl-md-0 ml-0 ml-md-4">
                                <a class="nav-link" href="../../../assets/terminos_y_condiciones.pdf" target="_blank" download>Términos y condiciones</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </div>
</header>